* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*o limite das coisas será a borda da caixa, se o elemento for maior, ele não esticará a borda da caixa*/
}

/*elementos base*/
body {
    background-color: #141414;
    color: #AAA;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

header nav a {
    text-decoration: none;
    color: #AAA;   
}

header nav a:hover {
    color: #ffff;
}

#netflix-logo {
    width: 130px;
    height: 50px;
}




