header .container {
    display: flex;

    width: 100%;
    height: 50px; 

    margin: 0 8px;
}

.navbar {
    display: flex;

    width: 100%;
    margin-right: 30px;

    align-items: center;
    justify-content: space-between;  
}

#links a {
    margin-left: 30px;
}

/*filme principal*/
.main-movie {
    font-size: 20px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url("../img/movies/capa-carol.jpeg");

    height: 500px;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin-bottom: 10px;
}

.main-movie .container {
    margin: 0 40px;

    width: 70%;  /*o tanto que o texto vai ocupar da tela*/
}

.main-movie .description {
    margin-bottom: 50px;
    margin-top: 10px;
}

.title {
    font-size: 40px;
    margin-top: 15%;
}

.button {
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin: 8px 10px;
    font-size: 14px;

    cursor: pointer;
    transition: .3s ease all;
}

.button:hover {
    background-color: white;
    color: black;
}

.button i {
    margin-right: 5px;
}

.movie-box {
    display: block;
    height: 100%;
    width: 100%;
}